.container{
    display: flex;
    margin: 10px;
    font-size: 14px;
}

.table{
    width: 30%;
    margin: 5px;
    border: darkslategrey solid 1px;
    padding: 10px 20px;
}
button,input{
    width: auto;
    height: 36px;
}
h3{
    text-align: center;
}
pre{
    padding: 5px;
    background: #F6F6F6;
    color: gray;
}
